.chart-wrapper {
  width: 100%;
  max-width: 100vw;
  height: auto;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.bar-chart-container {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.bar-chart-legend {
  text-align: left;
  padding-bottom: 20px;
}

.bar-min {
  fill: rgb(4, 4, 244);
}

.bar-max {
  fill: rgb(245, 4, 4);
}

.y-axis-tick {
  white-space: nowrap;
  margin-bottom: 20px;
}
